{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "rules": {
    "arrow-body-style": [0],
    "comma-dangle": [0],
    "space-before-function-paren": [0],

    "react/jsx-closing-bracket-location": [0],
    "react/jsx-no-bind": [0],
    "react/no-multi-comp": [0]
  }
}
